:root {
    --bg-color: #f0f0f0;
    --text-color: #333;
    --button-bg-color: #fff;
    --button-text-color: #333;
    --border-color: #333;
}

body.dark-mode {
    --bg-color: #333;
    --text-color: #f0f0f0;
    --button-bg-color: #555;
    --button-text-color: #f0f0f0;
    --border-color: #f0f0f0;
}

body {
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: var(--bg-color);
    color: var(--text-color);
    transition: background-color 0.3s, color 0.3s;
}

.container {
    text-align: center;
}

#choices button, #theme-toggle {
    padding: 10px 20px;
    font-size: 1em;
    cursor: pointer;
    margin: 10px;
    background-color: var(--button-bg-color);
    color: var(--button-text-color);
    border: 1px solid var(--border-color);
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s, border-color 0.3s;
}

#result {
    margin-top: 20px;
}

#scoreboard {
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
    width: 200px;
    margin-left: auto;
    margin-right: auto;
}