:root {
    --background-color-light: #f0f0f0;
    --text-color-light: #333;
    --button-bg-light: #fff;
    --button-text-light: #333;

    --background-color-dark: #333;
    --text-color-dark: #f0f0f0;
    --button-bg-dark: #555;
    --button-text-dark: #f0f0f0;
}

body {
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: var(--background-color-light);
    color: var(--text-color-light);
    transition: background-color 0.3s, color 0.3s;
}

body.dark-mode {
    background-color: var(--background-color-dark);
    color: var(--text-color-dark);
}

.container {
    text-align: center;
}

#choices button, #theme-toggle {
    padding: 10px 20px;
    font-size: 1em;
    cursor: pointer;
    margin: 10px;
    background-color: var(--button-bg-light);
    color: var(--button-text-light);
    border: 1px solid var(--text-color-light);
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
}

body.dark-mode #choices button,
body.dark-mode #theme-toggle {
    background-color: var(--button-bg-dark);
    color: var(--button-text-dark);
    border: 1px solid var(--text-color-dark);
}

#result {
    margin-top: 20px;
}

#scoreboard {
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
    width: 200px;
    margin-left: auto;
    margin-right: auto;
}