body {
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f0f0f0;
}

.container {
    text-align: center;
}

#choices button {
    padding: 10px 20px;
    font-size: 1em;
    cursor: pointer;
    margin: 10px;
}

#result {
    margin-top: 20px;
}

#scoreboard {
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
    width: 200px;
    margin-left: auto;
    margin-right: auto;
}